body {
  background-color: aliceblue;
  text-align: left;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#data-render {
  text-align: left;
  padding-left: 20px;
}

.inner-objects {
  padding-left: 50px;
}

.form-node {
  font-size: large;
  font-weight: bold;
  background-color: bisque;
  border: black;
  border-style: solid;
  border-width: 2px;
  width: 1000px;
  padding: 16px;
  margin: 10px
}

.modal-backdrop {
  position: fixed;
  justify-content: center;
  justify-self: center;
  align-items: center;
  border: black;
  border-style: solid;
  inset: 0;
  background-color: white;
  width: 500px;
  height: 500px;
}